
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
header{
  display: flex;

  justify-content: space-between;
}
#cx2{
  border: solid 2px  #FFC72C;
  background-color:  #FFC72C;
border-radius: 10px;
}
header section{
  display: flex;
  align-items: center;
   ;
  width: 30vw;
  justify-content: space-between;
  margin: 1vw;
}
header section div{
  display: flex;
  width: 12vw;
  align-items: center;
  justify-content: space-evenly;
  height: 7vh; 
}

/*............*/
#main1{
  display: flex;
  background-color: #FFC72C;
  flex-direction: column;
font-size: 30 px;
}
#fgs img{
width: 5vw;

}
#dm1{
  display: flex;
  align-items: center;
  justify-content: space-around;
height: 30vw;
}

#main1 figure{
  display: flex;
  align-items: center;
  
  justify-content: space-around;
  
}
#main2{
  display: flex;
  background-color: #FEB706;
  align-items: center;
  flex-direction: column;
  height: 60vh;
justify-content: space-around;
color: white;
font-size: 25px;
}

#dcards{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
#cards img{
  
  height: 60%;
}
#cards {
  display: flex;
  font-size: 12px;
  background-color: white;
  flex-direction: column;
  border: solid;
  border-radius: 8px;
  border: solid 2px #FEB706;
  
  align-items: center;
  justify-content: space-around;
 
}
#cards h2{
  color: black;
}
#cards button{
  background-color: #FFBC0D;
  border-radius: 4px;
  width: 6vw;
  height: 3vh;
  border-style: none;
  cursor: pointer;
}
/*............*/

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div{
  display: flex;
  
  width: 25vw;
  justify-content: space-around;
  align-items: center;
}
footer figure{
 
  display: flex;
  justify-content: space-around;
  width: 20vw
}